/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: auto;
  text-align: center;
  max-width: 390px;
  box-shadow: 0px 0px 10px #4c4c4c;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  position: relative;
  width: 360px;
}

/* ====================================
// base rules
// ==================================== */

header {
  padding-bottom: 50px;
}

.grey-recangle {
  background-color: #4c4c4c;
  width: 390px;
  height: 44px;
  position: fixed;
  z-index: 1;
}

.container {
  max-width: 360px;
  position: relative;
  margin-bottom: 60px;
  display: inline;
}

.red-square {
  width: 30px;
  height: 50px;
  background-color: red;
  position: fixed;
  left: 0px;
  top: 100px;
}

.white-square {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  right: 0px;
  top: 0px;
}

.transparent-block-01 {
  background-color: red;
  width: 360px;
  height: 50px;
}
